{% extends "todos/base.html" %}
{% block title %}
    {{ form.instance.public_id|yesno:"Edit task, Add task" }}
{% endblock %}
{% block content %}
    <form action="{% url 'logout' %}" method="post">
        Hi {{ user.username }}
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>

    <h2>
        {% if form.instance.pk %}Update{% else %}Create{% endif %} Task
    </h2>
    <div data-weather-wrapper class="flex center-column gray-50"
         style="background-color: {{ weather.condition_map.color }}">
        <div>
            <strong>Weather:</strong>
            <span data-weather class="weather">
                {% if weather %}{{ weather }},{% endif %}
                {% if weather.condition_map %}{{ weather.condition_map.name }}{% endif %}
                {% if location %}in {{ location }} {% endif %}
            </span>
            {% if not form.instance.complete %}
                <input data-refresh type="button" value="Refresh" />
            {% endif %}
            {% if weather_errors %}
                <h2>Weather Errors:</h2>
                <ul>
                    {% for error in weather_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form method="post" class="two-column">
            {% csrf_token %}
            {{ form.as_p }}
            {% if not form.instance.complete %}
                <button type="submit">Save</button>
            {% endif %}
            {% if form.instance.pk %}
                <button type="submit" name="complete">
                    {% if form.instance.complete %}Mark as incomplete{% else %}Mark as complete{% endif %}
                </button>
                <button type="submit" name="delete">Delete</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
