{% extends 'todos/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <form action="{% url 'logout' %}" method="post">
        Hi {{ user.username }}
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>



    <h2>Your Todos</h2>

    {% include "todos/_add_btn.html" %}

    {% if tasks %}
        {% include "todos/_cards.html" with tasks=tasks %}
    {% else %}
        <p>You have no todos.</p>
    {% endif %}

    {% include "todos/_add_btn.html" %}
{% endblock %}
