{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'todos/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'todos/css/weather-plugin.css' %}">
{% endblock %}

{% block content %}
{% endblock %}

{% block extra_js %}
    {% load static %}
    <script src="{% static 'todos/js/fetch-config.js' %}"></script>
    <script src="{% static 'todos/js/weather-plugin.js' %}"></script>
{% endblock %}
